footer.page-footer.nav-background
    .container.nav-background
        .row.nav-background
            .col.l6.s12.nav-background
                h5.white-text Contacto desarrollador
                p.grey-text.text-lighten-4 El contenido de este sitio web se encuentra sujeto a su autor.
            .col.l4.offset-l2.s12.nav-background
                h5.white-text Infromación
                ul
                    li
                        a.grey-text.text-lighten-3(href='#!') Nombre: Mario Tepe
                    li
                        a.grey-text.text-lighten-3(href='#!') Curso: Gráficas
                    li
                        a.grey-text.text-lighten-3(href='#!') Carrera: Ingeniería en Software
                    li
                        a.grey-text.text-lighten-3(href='#!') Catedrático: José Florian
    .footer-copyright.nav-background
        .container
            | © 2021 Copyright Universidad InterNaciones
            a.grey-text.text-lighten-4.right(href='https://uni.edu.gt') uni.edu.gt