nav
    .nav-wrapper.nav-background
        a.brand-logo.logo-dashboard(href='#') Dashboard
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='sass.html') Inicio
            li
                a(href='collapsible.html') Consulta